################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleWebAplication/.vs/SimpleWebAplication
/SimpleWebAplication/.vscode
/SimpleWebAplication/bin
/SimpleWebAplication/obj
/SimpleWebAplication/Properties/PublishProfiles
/SimpleWebAplication/Properties
/TestProject/bin
/TestProject/obj
